.playlist-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 300px;
    padding: 1rem;
    margin: 1rem;
}

.playlist-details > h2 {
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.playlist-details > p {
    margin-bottom: 0.5rem;
    word-break: break-all;
}

.playlist-card > img {
    width: 100%;
}